<ol>
<% @users.each do |u| %>
	<li><%= link_to u.email, user_path(u) %> <%= u.location %></li> 
	<% if admin? %> 
		<%= link_to 'Destroy', user_path(u), :method => :delete, :class => :delete_user %>
	<% end %>
<% end %>
</ol>
