<div style="float:left;">
	<h2>Contact Form</h2>
</div>
	
<div class="span6">
	<h2>Get In Touch</h2>
	<p>
		47 Spring Floral Dr. <br/>
		New Providence, NJ, 07974 <br/>
		Mob: (908)-821-5675<br/>
		
		Yangsunwoo@gmail.com
	</p>
</div>