
<head>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>


<h1>This is your new session</h1>
<p>
	SessionId: <%= @session %>
</p>
<p>
	Token: <%= @token %>
</p>
