<head>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

	<script type="text/javascript">
		var apiKey = '1127';
	    var sessionId = '<%= @session %>';
	    var token = '<%= token %>';
	</script>
</head>


<h1>To make a new sessionID come to this page</h1>
