<html>
<head>
	<title>Test room</title>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

  	<script type="text/javascript">
  	var apiKey = '<%= @api_key %>';
    var sessionId = '<%= @session_id %>';
    var token = 'devtoken';

	TB.setLogLevel(TB.DEBUG);

	var session = TB.initSession(sessionId);
	session.addEventListener('sessionConnected', sessionConnectedHandler);
	session.connect(apiKey, token);
	var publisher;
	function sessionConnectedHandler(event) {
		var streams = event.streams;
		for ( var i = 0; i<streams.length; i++ ) {
			var newDivId = "streams" + streams[i].streamId;
			var newDiv = $('<div />', {id: newDivId});
			$( 'body' ).append( newDiv );

			session.subscribe( streams[i], newDivId );
		}
		publisher = session.publish('myPublisher');
	}
  </script>
</head>
<body>
	<h1>test room</h1>
	<div id="publisher"></div>
	<div id="myPublisher"></div>	
</body>