<head>
	<title>Test room</title>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
	<script type="text/javascript" src="jquery.js"></script>

	<script type="text/javascript">
	  	var apiKey = '<%= @api_key %>';
		var sessionId = '<%= @session %>';
	    var token = '<%= @token %>'

		TB.setLogLevel(TB.DEBUG);     

	    var session = TB.initSession(sessionId);      
	    session.addEventListener('sessionConnected', sessionConnectedHandler);
	    session.addEventListener('streamCreated', streamCreatedHandler);      
	    session.connect(apiKey, token);

	    var publisher;

	    function sessionConnectedHandler(event) {
	      publisher = session.publish('myPublisher');

	      // Subscribe to streams that were in the session when we connected
	      subscribeToStreams(event.streams);
	    }

	    function streamCreatedHandler(event) {
	      // Subscribe to any new streams that are created
	      subscribeToStreams(event.streams);
	    }

	    function subscribeToStreams(streams) {
	      for (var i = 0; i < streams.length; i++) {
	        // Make sure we don't subscribe to ourself
	        if (streams[i].connection.connectionId == session.connection.connectionId) {
	          return;
	        }

	        // Create the div to put the subscriber element in to
	        var div = document.createElement('div');
	        div.setAttribute('id', 'stream' + streams[i].streamId);
	        $('.container').append(div);

	        // Subscribe to the stream
	        session.subscribe(streams[i], div.id);
	      }
	    }	
  	</script>
</head>
	<div class="container">
	<h1>test room</h1>
	<h2>Room Information</h2>
	<p>
		<b>SessionId</b>: 1_MX4xNTAyNTgyMn4xMC4xMDQuMTE1LjIwMH4yMDEyLTA1LTEwIDE2OjM4OjA4LjgxNjA3NCswMDowMH4wLjQ5MzA1ODMxMzI4NH4
	</p>
	<br/>
	<div id="myPublisher"></div>
	
	</div>	
