<head>
	<title>Test room</title>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

	<script type="text/javascript">
	  	var apiKey = '<%= @api_key %>';
		var sessionId = '1_MX4xNTAyNTgyMn4xMC4xMjUuNTEuNTR-MjAxMi0wNS0wOSAwNDo1NDoxNS4xMjA1OTUrMDA6MDB-MC40NzI2OTgyNjI3NjF-';
	    var token = 		'T1==cGFydG5lcl9pZD0xNTAyNTgyMiZzaWc9NGU4NWE3MjI3NjU3NjM2MDA1NmJiN2M1ZTkwYWJhNWM5YTY5ZTlmMTpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTFfTVg0eE5UQXlOVGd5TW40eE1DNHhNalV1TlRFdU5UUi1NakF4TWkwd05TMHdPU0F3TkRvMU5Eb3hOUzR4TWpBMU9UVXJNREE2TURCLU1DNDBOekkyT1RneU5qSTNOakYtJmNyZWF0ZV90aW1lPTEzMzY1MzkyNTUmbm9uY2U9MC43NjgyNjg1MjI4NTA1ODEmY29ubmVjdGlvbl9kYXRhPXVzZXJuYW1lJTNEQm9iJTJDbGV2ZWwlM0Q0';

		TB.setLogLevel(TB.DEBUG);

		var session = TB.initSession(sessionId);
		session.addEventListener('sessionConnected', sessionConnectedHandler);
		session.connect(apiKey, token);
		
		var publisher;
		function sessionConnectedHandler(event) {
			alert('You have Connected to the Room');
			publisher = session.publish('myPublisher');
			var streams = event.streams;
			for ( var i = 0; i<streams.length; i++ ) {
				var newDivId = "streams" + streams[i].streamId;
				var newDiv = $('<div />', {id: newDivId});
				$( 'body' ).append( newDiv );

				session.subscribe( streams[i], newDivId );
			}
		}
		
  	</script>
</head>

	<h1>test room</h1>
	<h2>Room Information</h2>
	<p>
		<b>SessionId</b>: 1_MX4xNTAyNTgyMn4xMC4xMjUuNTEuNTR-MjAxMi0wNS0wOSAwNDo1NDoxNS4xMjA1OTUrMDA6MDB-MC40NzI2OTgyNjI3NjF-
	</p>
	<p>
		<b>Token</b>: T1==cGFydG5lcl9pZD0xNTAyNTgyMiZzaWc9NGU4NWE3MjI3NjU3NjM2MDA1NmJiN2M1ZTkwYWJhNWM5YTY5ZTlmMTpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTFfTVg0eE5UQXlOVGd5TW40eE1DNHhNalV1TlRFdU5UUi1NakF4TWkwd05TMHdPU0F3TkRvMU5Eb3hOUzR4TWpBMU9UVXJNREE2TURCLU1DNDBOekkyT1RneU5qSTNOakYtJmNyZWF0ZV90aW1lPTEzMzY1MzkyNTUmbm9uY2U9MC43NjgyNjg1MjI4NTA1ODEmY29ubmVjdGlvbl9kYXRhPXVzZXJuYW1lJTNEQm9iJTJDbGV2ZWwlM0Q0
	</p>
	<br/>
	<div id="myPublisher"></div>	
