
	<div id="programming"><h2>Programming</h2>
		<div class="skills">
		<span class="skill-name">Ruby/Rails</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">HTML</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">CSS</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">Python</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">Javascript/Jquery</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">Git</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
	</div>
	
	<div id="OSs"><h2>OSs</h2>
		<div class="skills">
		<span class="skill-name">Mac OS X</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">Windows</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">Linux</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
	</div>
	
	<div id="Languages"><h2>Languages</h2>
		<div class="skills">
		<span class="skill-name">English</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">Japanese</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">Korean</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>			
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">Chinese</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
		
		<div class="skills">
		<span class="skill-name">Thai</span><br/>
		<div class="squares">
			<div class="full-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
			<div class="empty-square"></div>
		</div>
		</div>
	