<% @courses.each do |f| %>
	<h2><%= link_to f.name, course_path(f) %></h2>
	<p>Language: <%= id_to_language(f.language_id) %></p>
	<p>Course Id: <%= f.id %></p>
	<p>
		<%= link_to course_path(f), :class => 'btn btn-danger', :method => :delete do %>
			<i class='icon-trash icon-white'></i> Destroy
		<% end %>
	</p>
			
<% end %>
