#publisher {
	margin-left:280px;
	margin-top:20px;
}
.container {
	width:800px;
}
#postTitle {
	text-align:left;
}
#postBody {
	text-align:left;
	line-height:20px;
}
body p {
	font-size:16px;
	font-family:Helvetica;
}
#flash_notice {
	width:200px;
	border:solid red 1px;
	padding:2px;
	margin-top:10px;
	background-color:#FF874A;
	text-align:Center;
}
#loggedinas {
	padding:2px;
	width:300px;
	text-align:center;
	background-color:#A6FF35;
	border:solid black 1px;
	font-family:Helvetica;
	color:#7D71FF;
}
