#publisher {
	margin-left:280px;
	margin-top:20px;
}
.container {
	width:800px;
}
#postTitle {
	text-align:left;
}
#postBody {
	text-align:left;
	line-height:20px;
}
body p {
	font-size:16px;
	font-family:Helvetica;
}
#donts {
	border:solid black;
	padding:20px;
}
#dos {
	border:solid; black;
	padding:20px;
{