#publisher {
	margin-left:280px;
	margin-top:20px;
}
.container {
	width:800px;
	margin:0 auto;
}
#postTitle {
	text-align:left;
	font-family:Interstate, Helvetica;
}
#postTitle a:hover {
	color:#0A9600;
}
#postBody {
	text-align:left;
	line-height:20px;
}
body p {
	font-size:16px;
	font-family:Helvetica;
}
#flash_notice {
	width:200px;
	border:solid red 1px;
	padding:2px;
	margin-top:3px;
	background-color:#FF874A;
	text-align:Center;
}
#loggedinas {
	padding:2px;
	width:300px;
	text-align:center;
	background-color:#A6FF35;
	border:solid black 1px;
	font-family:Helvetica;
	color:#7D71FF;
}
#commentbox {
	background-color:#E8E8E8;
	padding:15px;
	border-radius:5px;
}
.formactions {
	border-radius:5px;
}
.previous_page {
	float:left;
	border-top:solid #DDD 1px;
	border-left:solid #DDD 1px;
	border-bottom:solid #DDD 1px;
	padding:8px 14px;
}
.current {
	float:left;
	border:solid black 1px;
	padding:8px 14px;
}
.next_page {
	float:left;
	border-top:solid #DDD 1px;
	border-right:solid #DDD 1px;
	border-bottom:solid #DDD 1px;
	padding:8px 14px;
}
a.previous_page {
	border-left:solid #DDD 1px;
}
.empty-square {
	border:solid black 2px;
	width:15px;
	height:15px;
	border-color:black;
	display:inline-block;
}
.full-square {
	display:inline-block;
	border:solid black 2px;
	width:15px;
	height:15px;
	background-color:black;
}
.skill-name {
	font-family:Tahoma;
	font-size:30px;
	margin-top:10px;
}
.squares {
	margin-top:10px;
}
.skills {
	margin:20px;
	padding-left:15px;
	width:300px;
}
#programming {
	float:left;
}
#OSs {
	margin-left:400px;
}